.cache
.classpath
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.metadata
.settings
.project
target
.version.properties
*.class
*.iml
*.swp
*.jar
*.log
*.pyc
.DS_Store
*.ipr
*.iws
.java-version
dependency-reduced-pom.xml
