################################################################################
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
################################################################################

name: Build DiskANN Native Library

on:
  workflow_call:
    inputs:
      platform:
        description: 'Target platform (linux-amd64, linux-aarch64, darwin-aarch64)'
        required: false
        type: string
        default: 'linux-amd64'
      jdk-version:
        description: 'JDK version to use'
        required: false
        type: string
        default: '8'
      artifact-name:
        description: 'Name for the uploaded artifact'
        required: false
        type: string
        default: 'diskann-native-linux-amd64'
      retention-days:
        description: 'Number of days to retain the artifact'
        required: false
        type: number
        default: 1

jobs:
  build_native:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK ${{ inputs.jdk-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.jdk-version }}
          distribution: 'temurin'

      - name: Build DiskANN native library
        uses: ./.github/actions/build-diskann-native
        with:
          platform: ${{ inputs.platform }}

      - name: Upload native library artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.artifact-name }}
          path: paimon-diskann/paimon-diskann-jni/src/main/resources/
          retention-days: ${{ inputs.retention-days }}
