################################################################################
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
################################################################################

name: UTCase and ITCase Flink 2.x on JDK 11

on:
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - 'paimon-python/**'
      - '.github/workflows/paimon-python-checks.yml'
      - 'paimon-lucene/**'

env:
  JDK_VERSION: 11
  MAVEN_OPTS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=30 -Dmaven.wagon.http.retryHandler.requestSentEnabled=true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JDK_VERSION }}
          distribution: 'temurin'

      - name: Build Flink
        run:  |
          mvn -T 2C -B clean install -DskipTests -Pflink2,spark3

      - name: Test Flink
        run: |
          # run tests with random timezone to find out timezone related bugs
          . .github/workflows/utils.sh
          jvm_timezone=$(random_timezone)
          echo "JVM timezone is set to $jvm_timezone"
          test_modules=""
          for suffix in 2.0 2.1 2.2 common; do
          test_modules+="org.apache.paimon:paimon-flink-${suffix},"
          done
          test_modules="${test_modules%,}"
          mvn -T 2C -B test verify -Pflink2,spark3 -pl "${test_modules}" -Duser.timezone=$jvm_timezone
        env:
          MAVEN_OPTS: -Xmx4096m