################################################################################
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
################################################################################
name: UTCase and ITCase Flink 1.x Common

on:
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - 'paimon-python/**'
      - '.github/workflows/paimon-python-checks.yml'
      - 'paimon-lucene/**'

env:
  JDK_VERSION: 8
  MAVEN_OPTS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=30 -Dmaven.wagon.http.retryHandler.requestSentEnabled=true

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build_test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JDK_VERSION }}
          distribution: 'temurin'

      - name: Build Flink
        run: |
          COMPILE_MODULE="org.apache.paimon:paimon-flink-common"
          echo "Start compiling modules: $COMPILE_MODULE"
          mvn -T 2C -B -ntp clean install -DskipTests -Pflink1,spark3 -pl "${COMPILE_MODULE}" -am

      - name: Test Flink
        run: |
          . .github/workflows/utils.sh
          jvm_timezone=$(random_timezone)
          echo "JVM timezone is set to $jvm_timezone"
          TEST_MODULE="org.apache.paimon:paimon-flink-common" 
          echo "Start testing module: $TEST_MODULE"
          mvn -T 2C -B -ntp test verify -Pflink1,spark3 -pl "${TEST_MODULE}" -Duser.timezone=$jvm_timezone
          echo "All modules tested"
        env:
          MAVEN_OPTS: -Xmx4096m -XX:+UseG1GC -XX:CICompilerCount=2